body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:visible;
}

.Calculator {
    width: 400px;
    height: 600px;
    position: relative;
    margin: 30px;
}
