div{
    display:block;
    border:0.5px solid black;
    background-color: cyan;

}
.div5{
    display: block;
    background-color: lightsteelblue;
    block-size: 30px;
}
.div1{
    background-color: lightslategrey
}
.div2{
    background-color: darkcyan;
    block-size: 30px;
}
.div3{
    background-color: cyan;
    block-size: 30px;
}
.div4{
    background-color: darkcyan;
    block-size: 30px;
}